extend layout
block content

	p.about_text
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et urna eu elit porttitor congue. In ullamcorper elit eu malesuada sodales. Nam vitae sapien sed felis blandit euismod. Curabitur ligula justo, tincidunt eget tellus a, ultrices ultrices ligula. Proin ullamcorper pellentesque pretium. Phasellus fermentum metus blandit nunc faucibus venenatis. Morbi ut metus convallis, semper risus in, molestie enim. Etiam sit amet dictum libero. Suspendisse eu enim rhoncus, pellentesque diam eu, semper sapien. Morbi at odio quis massa rhoncus aliquet. Morbi sollicitudin pellentesque augue vitae suscipit. Phasellus id tempor sapien.

